@font-face {
  font-family: "PragmataPro";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/non-free-fonts@master/PragmataProR_liga_0829.ttf?raw=true") format("ttf");
}


@font-face {
  font-family: "PragmataPro";
  font-style: italic;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/non-free-fonts@master/PragmataProI_liga_0829.ttf?raw=true") format("ttf");
}


@font-face {
  font-family: "PragmataPro";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/non-free-fonts@master/PragmataProB_liga_0829.ttf?raw=true") format("ttf");
  
}

@font-face {
  font-family: "PragmataPro";
  font-style: italic;
  font-weight: bold;
  src: url("https://github.com/bobby-welch/non-free-fonts/blob/master/PragmataProZ_liga_0829.ttf?raw=true") format("ttf");
}

* {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  font-family: "PragmataPro", monospace;
  text-rendering: optimizeLegibility;
}
