@font-face {
  font-family: "JetBrains Mono Light";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/chrome-os-terminal-fonts@main/jetbrains-mono-light-nerd-font.woff2?raw=true")
    format("woff2");
}

@font-face {
  font-family: "JetBrains Mono Light";
  font-style: italic;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/chrome-os-terminal-fonts@main/jetbrains-mono-light-italic-nerd-font.woff2?raw=true")
    format("woff2");
}

@font-face {
  font-family: "JetBrains Mono Light";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/chrome-os-terminal-fonts@main/jetbrains-mono-medium-nerd-font.woff2?raw=true")
    format("woff2");
}

@font-face {
  font-family: "JetBrains Mono Light";
  font-style: italic;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/chrome-os-terminal-fonts@main/jetbrains-mono-medium-italic-nerd-font.woff2?raw=true")
    format("woff2");
}

* {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  font-family: "JetBrains Mono Light";
  text-rendering: optimizeLegibility;
}
