@font-face {
  font-family: "Iosevka Term";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/chrome-os-terminal-fonts@main/iosevka-term-regular.woff2?raw=true") format("woff2");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/chrome-os-terminal-fonts@main/iosevka-term-bold.woff2?raw=true") format("woff2");
}

@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/chrome-os-terminal-fonts@main/iosevka-term-italic.woff2?raw=true") format("woff2");
}

@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/bobby-welch/chrome-os-terminal-fonts@main/iosevka-term-bolditalic.woff2?raw=true") format("woff2");
}

* {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  font-family: "Iosevka Term", monospace;
  text-rendering: optimizeLegibility;
}
